@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
}

.home,
.services,
.products,
.sign-up {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.app-content {
  min-height: 105vh;
}

.app-container {
  background-color: #fdf5f4;
}

#about-section,
#projects-section {
  background-color: inherit;
}

html {
  scroll-behavior: smooth;
}
