:root {
  --primary: #fff;
  --secondary: #301934;
  --tertiary: #bd8ea4;
  --quaternary: #f9cac533;
}

.about__content {
  display: flex;
  padding: 4rem;
  box-shadow: inset 0 0 0 1000px var(--quaternary);
  background: #fff;
}

.about-split {
  display: flex;
  flex-direction: column;
  padding: 0 6rem;
}

.about__profilepic {
  margin: 50px 0 45px;
  border-radius: 50%;
  width: 275px;
}

.about__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 6rem 6rem 0 auto;
  max-width: 900px;
  width: 90%;
}

.about__container p {
  font-size: 16px;
  font-family: "Trebuchet MS", Arial, sans-serif;
}

.about__message {
  text-align: center;
  white-space: pre-line;
  font-size: 20px;
}
