:root {
  --primary: #fff;
  --secondary: #301934;
  --tertiary: #bd8ea4;
  --quaternary: #f9cac533;
}

.footer-container {
  background: var(--secondary);
  padding: 4rem 0 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 25px 25px 0px 0px;
  z-index: 10;
  width: 100%;
}

.footer-email {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  margin-bottom: 24px;
  padding: 24px;
  color: #fff;
  width: 80%;
}

.footer-email > p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.footer-email-text {
  font-size: 24px;
}

.footer-email-heading {
  margin-bottom: 24px;
  font-size: 50px;
  font-weight: 700;
}

.footer-email-wrap {
  text-align: left;
}

.footer-email-top {
}

.input-areas {
  display: flex;
  flex-direction: column;
}

.input-form {
  display: flex;
  flex-direction: column;
}

.input-form textarea {
  padding: 3rem 5rem;
}

.footer-input {
  padding: 10px 30px;
  margin-top: 10px;
  border-radius: 2px;
  margin-right: 10px;
  outline: none;
  border: none;
  font-size: 18px;
  margin-bottom: 16px;
  border: 1px solid #fff;
}

.footer-input::placeholder {
  color: #b1b1b1;
}

/* SOCIAL MEDIA ICONS */
.social-icon-link {
  color: #fff;
  font-size: 24px;
}

.social-media {
  max-width: 1000px;
  width: 100%;
}

.social-media-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 1000px;
  margin: 40px auto 0 auto;
}

.social-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 3rem;
  width: 240px;
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: var(--quaternary);
}

.social-logo {
  color: #fff;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.website-rights {
  color: #fff;
  margin-bottom: 16px;
}

@media screen and (max-width: 820px) {
  .footer-input {
    width: 100%;
  }

  .btn {
    width: 100%;
  }

  .social-media-wrap {
    flex-direction: column;
  }
}
