iframe {
 /* margin-top: 30px; */
	top: 60px;
  object-fit: cover;
  width: 75%;
  height: 100%;
  position: absolute;
  z-index: 0;
  right: 0;
}

.hero-container {
  /* background: url('../public/elements/images/img-home.jpg') center center/cover no-repeat; */
  height: 105vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; /* make text left-aligned */
  box-shadow: inset 0 0 0 1000px rgba(209, 151, 142, 0.2);
  object-fit: contain;
  z-index: -3;
  padding: 0 69px; /* add padding to make text not touch the edges */
  position: relative; /* Add position: relative */
}
  
  /* Add a new class for text and buttons container */
  .text-buttons-container {
	position: relative;
	z-index: 1;
  }
  

.text-buttons-container > h1 {
  color: #241717;
  font-size: 100px;
  margin-top: -100px;
}

.text-buttons-container > p {
  margin-top: 8px;
  color: #bd8e8e;
  font-size: 32px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.hero-btns {
    margin-top: 32px;
}

.hero-btns .btn {
    margin: 6px;
}

.fa-play-circle {
    margin-left: 4px;
}

@media screen and (max-width: 960px) {
    .hero-container > h1 {
        font-size: 70px;
        margin-top: -150px;
    }
}

@media screen and (max-width: 768px) {
    .hero-container > h1 {
        font-size: 50px;
        margin-top: -100px;
    }

    .hero-container > p {
        font-size: 30px;
    }

    .btn-mobile {
        display: block;
        text-decoration: none;
    }

    .btn {
        width: 100%;
    }
}
