:root {
  --primary: #fff;
  --secondary: #301934;
  --tertiary: #bd8ea4;
  --quaternary: #f9cac533;
}

iframe {
  /* top: 30px; */
  object-fit: cover;
  width: 75%;
  position: absolute;
  z-index: 5;
  right: 0px;
  overflow: hidden;
}

.hero-container {
  height: 110vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; /* make text left-aligned */
  object-fit: contain;
  z-index: 3;
  padding: 0px 69px; /* add padding to make text not touch the edges */
  position: relative;
  margin: auto 5rem;
}

spline-viewer {
  position: absolute;
  top: -300px;
  right: 50px;
  width: 89%;
  height: calc(120%);
  z-index: 1;
}

.hero-container h1 {
  text-align: left;
  color: var(--secondary);
  font-size: 90px;
  margin-top: 0px;
}

.angela-name {
  color: var(--tertiary); /* Replace with your desired color */
}

.hero-container .text-description {
  margin-top: 8px;
  color: var(--secondary);
  font-size: 30px;
  font-family: "Trebuchet MS", Arial, sans-serif;
}

.hero-container .description {
  position: absolute;
  top: 150px;
  z-index: 2;
}

.text-position {
  margin-top: 8px;
  color: var(--tertiary);
  font-size: 24px;
  font-weight: bold;
  font-family: "Trebuchet MS", Arial, sans-serif;
}

.hero-btns {
  margin-top: 32px;
}

.hero-btns .btn {
  margin: 12px;
}

.fa-play-circle {
  margin-left: 4px;
}

@media screen and (max-width: 960px) {
  .hero-container > h1 {
    font-size: 70px;
    margin-top: -150px;
  }
}

@media screen and (max-width: 768px) {
  .hero-container > h1 {
    font-size: 50px;
    margin-top: -100px;
  }

  .hero-container > p {
    font-size: 20px;
  }

  .btn-mobile {
    display: block;
    text-decoration: none;
  }

  .btn {
    width: 100%;
  }
}
